<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MSMQ_WCF.QueueService" behaviorConfiguration="SVCB">
        <!--<endpoint address="net.msmq://localhost/private/QueueService"     binding="netMsmqBinding"   contract="MSMQ_WCF.IQueueNonTransactService"  bindingConfiguration="MsmqBindingConfigNonTransact"     />-->
        <endpoint address="net.msmq://localhost/private/QueueService"     binding="netMsmqBinding"  contract="MSMQ_WCF.IQueueTransactService"     bindingConfiguration="MsmqBindingConfigTransact"     />

        <!--Using address as same name as Queuename =Endpoint/svc name. So I remove transactional queuw with same name and create the que with same name again for non tranactional. Its fine-->
        
        <!--Not keeping the Endpoint address same as queue name caused IIS Crash with below error
        An unhandled win32 exception occured in w3wp.exe The Just-In-Time debugger was launched without necessary security permissions. To debug this proces, the JIT debugger must be run as an administrator. Would you like to debug the proces?         
        So debugged the w3wp.exe worker process to find the exception as "service "" doesnot exist /Endpoint not found exception"-->
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/QueueService"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <!--Non Transactional-->
        <!--<binding name="MsmqBindingConfigNonTransact" exactlyOnce="false">
          <security mode="None" />
        </binding>-->
        <!--Transactional-->
        <binding name="MsmqBindingConfigTransact" exactlyOnce="true">
          <security mode="Transport"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SVCB">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
